.menu3 {
    padding-bottom: 100px;
    &__header {
        & h2 {
            margin-top: 60px;
            margin-bottom: 100px;
        }
        & span {
            &.p1 {
                color: $menu3color1;
            }
            &.p2 {
                color: $menu3color2;
            }
            &.p3 {
                color: $menu3color3;
            }
        }
    }
    @include all-menus;
    font-family: XiaoGao;
    background-color: $menu3bg;
    &__bloc {
        @include all-blocs;
        color: black;
    }
    & .bloc__header {
        & .decorated {
            overflow: hidden;
            text-align: center;
            &>span {
                position: relative;
                display: inline-block;
                &.p1 {
                    &:before {
                        @include before-after;
                        right: 100%;
                        color: $menu3color1;
                    }
                    &:after {
                        @include before-after;
                        left: 100%;
                        color: $menu3color1;
                    }
                }
                &.p2 {
                    &:before {
                        @include before-after;
                        right: 100%;
                        color: $menu3color2;
                    }
                    &:after {
                        @include before-after;
                        left: 100%;
                        color: $menu3color2;
                    }
                }
                &.p3 {
                    &:before {
                        @include before-after;
                        right: 100%;
                        color: $menu3color3;
                    }
                    &:after {
                        @include before-after;
                        left: 100%;
                        color: $menu3color3;
                    }
                }
            }
        }
    }
}