$underline: all 0.2s ease-in-out;
.menu1 {
    &__header {
        & h2 {
            margin-top: 10px;
            margin-bottom: 60px;
            font-size: 50px;
        }
    }
    @include all-menus;
    background-color: $menu1bg;
    color: $menu1color;
    & i {
        color: $music-note;
    }
    & .icone-resp {
        display: none;
    }
    &__bloc {
        @include all-blocs;
        & .bloc__header {
            display: flex;
            justify-content: space-evenly;
            & .lines {
                width: 50%;
                height: 5px;
                background-color: $menu1color;
                position: relative;
                top: 30px;
            }
            & .underlined {
                display: inline-block;
                position: relative;
                width: 200px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $menu1color;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
                &:hover::before {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        @include centered;
        padding-bottom: 80px;
        width: 230px;
        font-size: 25px;
        & i {
            position: relative;
            top: 20px;
        }
    }
}