 .menu2 {
     @include all-menus;
     background-color: $menu2bg;
     margin-top: 50px;
     &__header {
         & h2 {
             margin-top: 10px;
             margin-bottom: 100px;
             font-size: 30px;
         }
         & span {
             &.p1 {
                 color: $menu2color1;
             }
             &.p2 {
                 color: $menu2color2;
             }
             &.p3 {
                 color: $menu2color3;
             }
         }
     }
     &__bloc {
         &1 {
             color: $menu2color1;
             @include all-blocs;
             & .bloc__header {
                 display: flex;
                 justify-content: space-evenly;
                 font-size: 14px;
                 & .lines {
                     width: 50%;
                     height: 5px;
                     background-color: $menu2color1;
                     position: relative;
                     top: 25px;
                 }
                 & .underlined {
                     display: inline-block;
                     position: relative;
                     width: 360px;
                     &::before {
                         content: '';
                         position: absolute;
                         width: 100%;
                         transform: scaleX(0);
                         height: 2px;
                         bottom: 0;
                         left: 0;
                         background-color: $menu2color1;
                         transform-origin: bottom right;
                         transition: transform 0.25s ease-out;
                     }
                     &:hover::before {
                         transform: scaleX(1);
                         transform-origin: bottom left;
                     }
                 }
             }
         }
         &2 {
             color: $menu2color2;
             @include all-blocs;
             & .bloc__header {
                 display: flex;
                 justify-content: space-evenly;
                 font-size: 14px;
                 & .lines {
                     width: 50%;
                     height: 5px;
                     background-color: $menu2color2;
                     position: relative;
                     top: 25px;
                 }
                 & .underlined {
                     display: inline-block;
                     position: relative;
                     width: 280px;
                     &::before {
                         content: '';
                         position: absolute;
                         width: 100%;
                         transform: scaleX(0);
                         height: 2px;
                         bottom: 0;
                         left: 0;
                         background-color: $menu2color2;
                         transform-origin: bottom right;
                         transition: transform 0.25s ease-out;
                     }
                     &:hover::before {
                         transform: scaleX(1);
                         transform-origin: bottom left;
                     }
                 }
             }
         }
         &3 {
             color: $menu2color3;
             @include all-blocs;
             padding-bottom: 100px;
             & .bloc__header {
                 display: flex;
                 justify-content: space-evenly;
                 font-size: 14px;
                 & .lines {
                     width: 50%;
                     height: 5px;
                     background-color: $menu2color3;
                     position: relative;
                     top: 25px;
                 }
                 & .underlined {
                     display: inline-block;
                     position: relative;
                     width: 320px;
                     &::before {
                         content: '';
                         position: absolute;
                         width: 100%;
                         transform: scaleX(0);
                         height: 2px;
                         bottom: 0;
                         left: 0;
                         background-color: $menu2color3;
                         transform-origin: bottom right;
                         transition: transform 0.25s ease-out;
                     }
                     &:hover::before {
                         transform: scaleX(1);
                         transform-origin: bottom left;
                     }
                 }
             }
         }
     }
 }