@media all and (max-width: 1000px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        &__logo {
            width: 50%;
        }
    }
    .content {
        &>h1 {
            margin-top: 40px;
        }
    }
    .menus {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        &__prev__img {
            width: 100%;
            margin-bottom: 30px;
        }
        & .l2 {
            margin-top: 0;
        }
    }
    .menu {
        &1 {
            width: 300px;
            @include all-menus-responsive;
            &__header h2 {
                margin-bottom: 30px;
            }
            & .resp {
                color: $music-note;
                display: block;
            }
            & .normal {
                display: none;
            }
            &__bloc {
                @include all-blocs-responsive;
            }
            & .bloc__header {
                & h3 {
                    font-size: 15px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                & .lines {
                    top: 25px;
                    height: 2px;
                    width: 55px;
                }
            }
            &__footer {
                padding-bottom: 20px;
                & i {
                    position: relative;
                    top: 15px;
                    left: 15px;
                }
            }
        }
        &2 {
            width: 300px;
            @include all-menus-responsive;
            &__header h2 {
                margin-bottom: 30px;
                margin-top: 0;
            }
            &__bloc {
                @include all-blocs-responsive;
            }
            & .bloc__header {
                & h3 {
                    font-size: 15px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                & .lines {
                    top: 25px;
                    height: 2px;
                    width: 55px;
                }
            }
        }
        &3 {
            width: 300px;
            @include all-menus-responsive;
            &__header h2 {
                margin-bottom: 30px;
                margin-top: 0;
            }
            &__bloc {
                @include all-blocs-responsive;
            }
            & .bloc__header {
                & h3 {
                    font-size: 15px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                & .lines {
                    top: 25px;
                    height: 2px;
                    width: 55px;
                }
            }
        }
        &4 {
            width: 300px;
            @include all-menus-responsive;
            &__header h2 {
                margin-bottom: 30px;
                margin-top: 0;
            }
            &__bloc {
                @include all-blocs-responsive;
            }
            & .bloc__header {
                & h3 {
                    font-size: 15px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                & .lines {
                    top: 25px;
                    height: 2px;
                    width: 55px;
                }
            }
        }
    }
    .footer {
        font-size: 15px;
    }
    .button {
        width: 220px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 100px;
        &__content {
            font-size: 20px;
            padding: 15px 5px 5px 5px;
        }
    }
}