//site :
$color-primary: #569C87;
$color-secondary: #FDCA47;
$color-tertiary: #424141;
//fonts des différents menus :
$menu1color: #3B0F16;
$menu2color1: #C67411;
$menu2color2: #A46598;
$menu2color3: #6D4BCC;
$menu3color1: #0429DD;
$menu3color2: #0670F3;
$menu3color3: #219DF9;
$menu4color1: #45983D;
$menu4color2: #8DD565;
$menu4color3: #BEFF7F;
//fonds des différents menus :
$menu1bg: #FCDFDB;
$menu2bg: #FFF5FE;
$menu3bg: #EDEFEF;
$menu4bg: #FDFFFD;
//icone note de musique :
$music-note: #F6916A;
//ombre des menus : 
$shadow: #00000046;