@keyframes zoom {
    0% {
        opacity: 1;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(4px);
    }
    20% {
        transform: translateX(-4px);
    }
    40% {
        transform: translateX(2px);
    }
    60% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(-1px);
    }
}

@keyframes points {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}